input.ng-invalid.ng-dirty {
  border: 1px solid red;
}

.todo-row {
  li {
    font-size: 18px;
    padding: 5px;
    list-style: none;
    border-top: 1px solid $list-item-border-color;
    border-bottom: 1px solid $list-item-border-color;
  }
}

.done-items {
  li {
    color: #000;
    text-decoration:line-through;
  }

  .not-done {
    text-decoration:none;
  }
}