<div class="container">
    <div class="row todo-row" ng-controller="TasksController">
        <div class="col-sm-6 todos">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Todos</h3>
                </div>
                <div class="panel-body">
                    <form name="addTaskForm" ng-submit="addTask()" novalidate>
                        <div class="form-group">
                            <input type="text" ng-model="newTask" class="form-control" placeholder="add a task" minlength="3" required />
                        </div>

                        <div class="form-group">
                            <button class="btn btn-sm btn-primary">Add task</button>
                        </div>
                    </form>
                    <hr/>
                    <ul>
                        <li ng-repeat="task in tasks">
                            {{ task.name }}
                            <a ng-show="task.completed_at == null" ng-click="deleteTask(task)" href="">complete</a>
                        </li>
                        <li ng-hide="hasTasks()">Nothing to do</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 done-items">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Completed tasks</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="task in completedTasks">
                            {{ task.name }}
                        </li>
                        <li ng-hide="hasCompletedTasks()" class="not-done">No completed tasks</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>